<ion-content padding style="margin-bottom:20px !important;" text-center>
    <ion-grid>
        <ion-row>
            <ion-col class="top-20"><img src="assets/imgs/logo-cliente.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-10">
                <h3 style="color:white">Supervisión de Obras</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-30">
                <button ion-button icon-left block class="login-blue button-text-capitalize"  (click)="goLogin()">
                Iniciar sesión
                </button>
                <button ion-button icon-left block class="register-gray button-text-capitalize" (click)="goRegisterWithEnterprisesAndPeopleTypes()">
                Registrarme
                </button>                
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>