<ion-header >
  <ion-navbar color="innova">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="custom-menu-color"></ion-icon>
    </button>
    <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Inspección {{inspection.inspection?.id}}</span></ion-title>
    <div class="div-bell-custom-size">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>        
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="dataDidLoad">
    <ion-list>
      <ion-list-header>
        <h1 id="validacion">Validación de integrantes</h1>
        <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
      </ion-list-header>

      <h5 style="text-align: center;">¿Quienes están presentes?</h5>

      <ion-item style="margin-top: 10px">
        <ion-label>Rol de participante</ion-label>
        <ion-select interface="popover" [(ngModel)]="inspectionInProgress.rolSelected" (ionChange)="searchNames()">
            <ion-option *ngFor="let rol of inspectionInProgress.roles" [value]="rol" >{{rol.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item style="margin-top: 10px">
          <ion-label>Seleccione participante</ion-label>
          <ionic-selectable
          debounce="0"
          item-content
          [(ngModel)]="inspectionInProgress.participantSelected"
          [items]="inspectionInProgress.names"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onSelect)="onSelect($event)"
          (onClose)="onClose($event)"
          searchFailText="No se encontraron resultados"
          #selectSearchComponent>
          </ionic-selectable>
      </ion-item>

      <ng-container *ngFor="let people_present of inspectionInProgress.inspectionInform.peoples_present">
          <ion-card (click)="removeSelected(people_present)">
              <ion-item class="people-selected">
                  {{ people_present.name }} <br> {{ people_present.selected_peopleType.name }}
                  <ion-icon style="color: white;" name="close" item-end></ion-icon>
              </ion-item>
          </ion-card>
      </ng-container>
    </ion-list>
    <div class="footer">
        <button ion-button class="step1-button" style="width: 100%" (click)="goViewInspectionDetails()">Continuar</button>
    </div>
  </ng-container>
</ion-content>