<ion-content padding style="margin-bottom:20px !important;" text-center>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="icon-top-right">
                    <svg (click)="goBack()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 icon-color-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                        </path>
                    </svg>
                </div>
            </ion-col>
        </ion-row>        
        <ion-row>
            <ion-col class="top-5"><img src="assets/imgs/logo-cliente.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-10">
                <h1 style="color:white">Iniciar Sesión</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-20">
                <form [formGroup]="FormLogin" novalidate>
                    <ion-item padding class="item item-trns text-center">
                        <ion-input formControlName="email" type="email" placeholder="Correo Electrónico"></ion-input>
                    </ion-item>
                    <ion-item class="p-login" *ngIf="FormLogin.get('email').errors && FormLogin.get('email').dirty">
                        <p class="p-login" color="danger" ion-text *ngIf="FormLogin.get('email').hasError('required')">Debe escribir un correo</p>
                        <p class="p-login" color="danger" ion-text
                            *ngIf="FormLogin.get('email').hasError('email') && !FormLogin.get('email').hasError('required')">Este no es un
                            correo
                        </p>
                    </ion-item>
                    <ion-item padding class="item item-trns text-center">
                        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
                    </ion-item>
                    <ion-item class="p-login" *ngIf="FormLogin.get('password').errors && FormLogin.get('password').dirty">
                        <p class="p-login" color="danger" ion-text *ngIf="FormLogin.get('password').hasError('required')">Debe escribir una contraseña</p>
                    </ion-item>              
                    <button [disabled]="FormLogin.invalid" ion-button icon-left block class="login-blue button-text-capitalize" (click)="login()">
                    Ingresar
                    </button>
                </form>
                <div style="height: 15px;"></div>
                <a (click)="goRecoveryPassword()" href="#" style="color: white">
                    ¿Ha olvidado su contraseña?
                </a>
                <div style="height: 30px;"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

