page-editwork {
    .div-icon-custom-size-setting-item-end{
        width: 20px;
        height:20px;
        color:#009EE3;
    }

    .custom-menu-color{
        color:white!important;
    }
    .div-icon-download-custom-size-informs{
    width: 40px;
    height:40px;
    border-radius:25px
    }
    .div-bell-custom-size{
    width: 40px;
    height:40px;
    border-radius:25px	
    }
    #map2 {
    position: relative;
    margin-left: 10%;
    width: 80%;
    height: 150px;
    transition: opacity 150ms ease-in;
    display: block;
    border-radius: 15px;
    }

    .p-obra{
        div.item-inner{
            padding-right: 0 !important;
            margin: 0 !important;
            margin-top: 2px !important;
            min-height: 7px !important; 
            height: 15px !important;
            border : 0 !important;
        }
            min-height: 0 !important;
    }
}
