<!--
  Generated template for the EditworkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="innova">
      <button ion-button menuToggle>
        <ion-icon name="menu" class="custom-menu-color"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Obras</span></ion-title>
      <div class="div-bell-custom-size">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
            </path>
          </svg>
      </div>
    </ion-navbar>
</ion-header>


<ion-content>
  <ng-container *ngIf="dataDidLoad">
        <div style="margin-left: 17px; color: #7c8080;"><h1>{{obra.id}} - {{obra.description}}</h1></div>

        <ion-list style="margin-bottom: 0 !important;">
            <form [formGroup]="myForm" novalidate style="height: 100%;">
        
              <div style="padding: 10px">
                <ion-item>
                  <ion-label floating>Nombre de la obra</ion-label>
                  <ion-input formControlName="name" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="p-obra" *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
                  <p class="p-obra" color="danger" ion-text *ngIf="myForm.get('name').hasError('required')">Debe ingresar el nombre de la obra</p>
                </ion-item>
        
                <ion-item>
                  <ion-label floating>Dirección</ion-label>
                  <ion-input formControlName="address" type="text"></ion-input>
                </ion-item>
                <ion-item class="p-obra" *ngIf="myForm.get('address').errors && myForm.get('address').dirty">
                  <p class="p-obra" color="danger" ion-text *ngIf="myForm.get('address').hasError('required')">Debe ingresar una dirección</p>
                </ion-item>
        
                <ion-item style="margin-top: 30px">
                    <ion-label>Departamento</ion-label>
                    <ion-select interface="popover" formControlName="department" cancelText="Cancelar" okText="Aceptar"  (ionChange)="onDepartChange()">
                        <ion-option *ngFor="let item of departments" [value]="item" >{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item style="margin-top: 30px">
                    <ion-label>Provincia</ion-label>
                    <ion-select interface="popover" formControlName="province" cancelText="Cancelar" okText="Aceptar"  (ionChange)="onProvinChange()" [disabled]="provinces.length<=1">
                        <ion-option *ngFor="let item of provinces" [value]="item" >{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item style="margin-top: 30px">
                    <ion-label>Distrito</ion-label>
                    <ion-select interface="popover" formControlName="district" cancelText="Cancelar" okText="Aceptar"  [disabled]="districts.length<=1">
                        <ion-option *ngFor="let item of districts" [value]="item" >{{item.name}}</ion-option>
                    </ion-select>
                </ion-item>
        
                <ion-item>
                  <ion-label floating>Código postal</ion-label>
                  <ion-input formControlName="zip_code" type="number"></ion-input>
                </ion-item>
                <ion-item class="p-obra" *ngIf="myForm.get('zip_code').errors && myForm.get('zip_code').dirty">
                  <p class="p-obra" color="danger" ion-text *ngIf="myForm.get('zip_code').hasError('required')">Debe ingresar un código postal</p>
                </ion-item>
        
                <!-- <ion-item *ngIf="userInfo.enterprise_id == 2" style="margin-top: 30px">
                    <ion-label>Empresa</ion-label>
                    <ion-select interface="popover" formControlName="enterprise" cancelText="Cancelar" okText="Aceptar">
                        <ion-option *ngFor="let item of enterprises" [value]="item" >{{item.name}}</ion-option>
                    </ion-select>
                </ion-item> -->

                <ng-container *ngIf="userInfo.enterprise_id == 2">
                    <ion-item style="margin-top: 30px">
                        <ion-label>Empresa</ion-label>
                        <ionic-selectable
                        
                        item-content
                        formControlName="enterprise"
                        [items]="enterprises"
                        itemValueField="id"
                        itemTextField="name"
                        [canSearch]="true"
                        searchFailText="No se encontraron resultados">
                        </ionic-selectable>
                    </ion-item>
                    <ion-item class="p-obra" *ngIf="myForm.get('enterprise').touched && myForm.get('enterprise').hasError('required')">
                        <p class="p-obra" color="danger" ion-text>Debe seleccionar una empresa</p>
                    </ion-item>
                </ng-container>

                <ion-item style="margin-top: 30px">
                  <ion-label>Rol de supervisor</ion-label>
                  <ion-select interface="popover" formControlName="selected" cancelText="Cancelar" okText="Aceptar">
                      <ion-option *ngFor="let item of userRoles" [value]="item" >{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>
        
                <ion-item  class="item item-trns text-center">
                  <ion-label floating>Fecha de inicio</ion-label>
                  <ion-datetime [min]="minDate" [max]="maxDate" displayFormat="YYYY-MM-DD" cancelText="Cancelar" doneText="Hecho" formControlName="start_date"></ion-datetime>
                </ion-item>
                <ion-item class="p-obra" *ngIf="myForm.get('start_date').touched && (myForm.get('start_date').hasError('required') || !validTime.validDates)">
                  <p class="p-obra" color="danger" ion-text *ngIf="myForm.get('start_date').hasError('required')">Debe ingresar una fecha de inicio</p>
                  <p class="p-obra" color="danger" ion-text *ngIf="!validTime.validDates">Fecha debe ser menor a la de cierre</p>
                </ion-item>
          
                <ion-item  class="item item-trns text-center">
                  <ion-label floating>Fecha de cierre</ion-label>
                  <ion-datetime [min]="minDate" [max]="maxDate" displayFormat="YYYY-MM-DD" cancelText="Cancelar" doneText="Hecho" formControlName="end_date"></ion-datetime>
                </ion-item>
                <ion-item class="p-obra" *ngIf="myForm.get('end_date').touched && (myForm.get('end_date').hasError('required') || !validTime.validDates)">
                  <p class="p-obra" color="danger" ion-text *ngIf="myForm.get('end_date').hasError('required')">Debe ingresar una fecha de cierre</p>
                  <p class="p-obra" color="danger" ion-text *ngIf="!validTime.validDates">Fecha debe ser mayor a la de inicio</p>
                </ion-item>
        
                <div style="margin-top: 40px; margin-bottom: 30px">
                  <ion-label style="margin-left: 15px; color: #9b9b9b; font-size: 16px;">Ubicación</ion-label>
                  <div id="map2"></div>
                  <hr style="width: 95%; height: 1.25px;">
                </div>
        
              </div>
        
              <button *ngIf="userInfo.type!=='Interno'" ion-button style="width: 100%; background-color: #009ee3; color: #ffffff" [disabled]="myForm.invalid || departments.length==0 || provinces.length==0 || myForm.value.district =='' || !validTime.validDates" (click)="saveNewWork()">Guardar</button>
              <button *ngIf="userInfo.type!=='Interno'" ion-button style="width: 100%; background-color: #f1504b; color: #ffffff" (click)="removeWork()">Eliminar</button>
            </form>
          </ion-list>
  </ng-container>
</ion-content>
