<ion-content padding style="margin-bottom:20px !important;" text-center>
    <ion-grid style="background-size: cover;
        background-position: center;
        margin: auto;
        z-index: 2;">
        <ion-row>
            <ion-col>
                <div class="icon-top-right">
                    <svg (click)="goBack()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 icon-color-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                        </path>
                    </svg>                    
                </div>                
            </ion-col>
        </ion-row>        
        <ion-row>
            <ion-col>
                <img style="width: 30%" src="assets/imgs/logo-cliente.png">
                <h1 style="color:white">Crear Cuenta</h1>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <form [formGroup]="FormRegister" novalidate>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Nombre</ion-label>
                    <ion-input  formControlName="first_name" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="FormRegister.get('first_name').errors && FormRegister.get('first_name').dirty" class="p-register">
                    <p class="p-register" color="danger" ion-text>Debe escribir un nombre</p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Apellido</ion-label>
                    <ion-input  formControlName="last_name" type="text"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('last_name').errors && FormRegister.get('last_name').dirty">
                    <p class="p-register" color="danger" ion-text>Debe escribir un apellido</p>
                </ion-item>                 
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Correo Electrónico</ion-label>
                    <ion-input  formControlName="email" type="email"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('email').errors && FormRegister.get('email').dirty">
                    <p class="p-register" color="danger" ion-text *ngIf="FormRegister.get('email').hasError('required')">Debe escribir un correo</p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('email').hasError('email') && !FormRegister.get('email').hasError('required')">Este no es un
                      correo
                    </p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating># Telefono</ion-label>
                    <ion-input  formControlName="phone" type="number"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('phone').errors && FormRegister.get('phone').dirty">
                    <p class="p-register" color="danger" ion-text>Debe escribir un numero correcto</p>
                </ion-item>
                
                <ion-item style="margin-top: 7px !important;"   class="item item-trns text-center">
                    <ion-label>Empresa</ion-label>
                    <ionic-selectable
                    item-content
                    formControlName="enterprise_id"
                    [items]="enterprises"
                    itemValueField="id"
                    itemTextField="name"
                    [canSearch]="true"
                    searchFailText="No se encontraron resultados">
                    </ionic-selectable>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('enterprise_id').touched && FormRegister.get('enterprise_id').hasError('required')">
                    <p class="p-register" color="danger" ion-text>Debe seleccionar una empresa</p>
                </ion-item>

                <ion-item style="margin-top: 7px !important;"   class="item item-trns text-center">
                  <ion-label>Rol</ion-label>
                  <ion-select interface="popover" formControlName="peopleTypes" multiple="true" cancelText="Cancelar" okText="Aceptar">
                    <ion-option *ngFor="let item of peopleTypes" [value]="item" >{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>    
                <ion-item class="p-register" *ngIf="FormRegister.get('peopleTypes').touched && FormRegister.get('peopleTypes').hasError('required')">
                    <p class="p-register" color="danger" ion-text>Debe seleccionar sus roles</p>
                </ion-item>                
                <ion-item class="item item-trns text-center">
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input  minlength="8" formControlName="password" type="password"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('password').errors && FormRegister.get('password').dirty">
                    <p class="p-register" color="danger" ion-text *ngIf="FormRegister.get('password').hasError('required')">Debe escribir una contraseña</p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('password').hasError('minlength') && !FormRegister.get('password').hasError('required')">
                      La contraseña debe tener más de 8 caracteres
                    </p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('password').hasError('maxlength') && !FormRegister.get('password').hasError('required')">
                      La contraseña debe tener más de 15 caracteres
                    </p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Confirme contraseña</ion-label>
                    <ion-input formControlName="confirmpassword" type="password"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.value.password !== FormRegister.value.confirmpassword && FormRegister.get('confirmpassword').dirty">
                    <p class="p-register" color="danger" ion-text>Las contraseñas deben ser iguales</p>
                </ion-item>                                
                <button (click)="createAccount()" style="margin-top: 20px !important;" [disabled]="FormRegister.invalid || FormRegister.value.password !== FormRegister.value.confirmpassword || this.FormRegister.value.peopleTypes==''" ion-button icon-left block class="register-gray button-text-capitalize">
                    Registrarme
                </button>
                <ion-item class="item item-trns text-center">
                    <p class="termCond"> Al crear una cuenta acepta nuestros 
                        <a href='#' (click)="showTermAndConditions()"> terminos y condiciones </a> y nuestra 
                        <a href='#' (click)="showPrivacyPolicy()"> politica de privacidad.</a>
                    </p> 
                </ion-item>
                <div style="height: 50px"></div>
            </form>              
               
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>