<ion-header >
    <ion-navbar color="innova">
      <button ion-button menuToggle>
        <ion-icon name="menu" class="custom-menu-color"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">{{viewTitle}}</span></ion-title>
      <div class="div-bell-custom-size">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>        
      </div>
    </ion-navbar>
</ion-header>

<ion-content padding >
  <ng-container *ngIf="dataDidLoad">

    <div class="about-header-setting">
        <div *ngIf="!imgLoaded" class="img-loader-profile">
          <ion-spinner name="crescent" style="top: 30%;"></ion-spinner>
        </div>
        <img [hidden]="!imgLoaded" (load)="loadEnded()" [src]="profilePhotoPath" alt="" class="image--cover"/>

      <div class="div-icon-custom-size-setting">
        <button ion-button class="camera-button" clear icon-only (click)="profilePhoto()">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera" class="svg-inline--fa fa-camera fa-w-16 camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>
        </button>
      </div>
    </div>

    <ion-list  class="ion-no-margin ion-no-padding">
      <ion-grid>
        <ion-row>
            <ion-col>
              <form [formGroup]="FormRegister" novalidate>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Nombre</ion-label>
                    <ion-input  formControlName="first_name" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="FormRegister.get('first_name').errors && FormRegister.get('first_name').dirty" class="p-register">
                    <p class="p-register" color="danger" ion-text>Debe escribir un nombre</p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Apellido</ion-label>
                    <ion-input  formControlName="last_name" type="text"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('last_name').errors && FormRegister.get('last_name').dirty">
                    <p class="p-register" color="danger" ion-text>Debe escribir un apellido</p>
                </ion-item>                 
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Correo Electrónico</ion-label>
                    <ion-input  formControlName="email" type="email"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('email').errors && FormRegister.get('email').dirty">
                    <p class="p-register" color="danger" ion-text *ngIf="FormRegister.get('email').hasError('required')">Debe escribir un correo</p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('email').hasError('email') && !FormRegister.get('email').hasError('required')">Este no es un
                      correo
                    </p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating># Telefono</ion-label>
                    <ion-input  formControlName="phone" type="number"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('phone').errors && FormRegister.get('phone').dirty">
                    <p class="p-register" color="danger" ion-text>Debe escribir un numero correcto</p>
                </ion-item>

                <!-- <ion-item style="margin-top: 30px">
                    <ion-label>Empresa</ion-label>
                    <ionic-selectable
                    
                    item-content
                    formControlName="enterprise"
                    [items]="enterprises"
                    itemValueField="id"
                    itemTextField="name"
                    [canSearch]="true"
                    searchFailText="No se encontraron resultados">
                    </ionic-selectable>
                </ion-item>
                <ion-item class=p-register" *ngIf="FormRegister.get('enterprise').touched && FormRegister.get('enterprise').hasError('required')">
                    <p class="p-register" color="danger" ion-text>Debe seleccionar una empresa</p>
                </ion-item> -->
              
                <ion-item style="margin-top: 7px !important;"   class="item item-trns text-center">
                  <ion-label>Rol</ion-label>
                  <ion-select formControlName="peopleTypes_current" multiple="true" interface="popover" cancelText="Cancelar" okText="Aceptar">
                    <ion-option *ngFor="let item of pleopleType_names_form" [value]="item" >{{item}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('peopleTypes_current').errors && FormRegister.get('peopleTypes_current').dirty">
                    <p class="p-register" color="danger" ion-text>Debe seleccionar sus roles</p>
                </ion-item>                
                <ion-item class="item item-trns text-center">
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input  minlength="8" formControlName="password" type="password"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.get('password').errors && FormRegister.get('password').dirty">
                    <p class="p-register" color="danger" ion-text *ngIf="FormRegister.get('password').hasError('required')">Debe escribir una contraseña</p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('password').hasError('minlength') && !FormRegister.get('password').hasError('required')">
                      La contraseña debe tener más de 8 caracteres
                    </p>
                    <p class="p-register" color="danger" ion-text
                      *ngIf="FormRegister.get('password').hasError('maxlength') && !FormRegister.get('password').hasError('required')">
                      La contraseña debe tener más de 15 caracteres
                    </p>
                </ion-item>
                <ion-item  class="item item-trns text-center">
                    <ion-label floating>Confirme contraseña</ion-label>
                    <ion-input formControlName="confirmpassword" type="password"></ion-input>
                </ion-item>
                <ion-item class="p-register" *ngIf="FormRegister.value.password !== FormRegister.value.confirmpassword && FormRegister.get('confirmpassword').dirty">
                    <p class="p-register" color="danger" ion-text>Las contraseñas deben ser iguales</p>
                </ion-item>                                
                <button (click)="createAccount()" style="margin-top: 20px !important;" [disabled]="FormRegister.invalid || FormRegister.value.password !== FormRegister.value.confirmpassword" ion-button icon-left block class="register-gray button-text-capitalize">
                    Guardar cambios
                </button>
                <div style="height: 50px"></div>
            </form>              
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-container>
</ion-content>