page-desertion{
    .about-header-setting {

        padding: 12px;
        width: 100%;
        min-height: 100px;
        text-align: center;
    }

    .p-register{
        div.item-inner{
            padding-right: 0 !important;
            margin: 0 !important;
            margin-top: 2px !important;
            min-height: 7px !important; 
            height: 15px !important;
            border : 0 !important;
        }
            min-height: 0 !important;
    }

    .button-text-capitalize{
        text-transform: capitalize!important;
    }

    .camera-button{
        width: 30px;
        height: 36px;
    }

    .register-gray{
        background-color:#4B4B4B;
        color:white;
    }

    .wrapper {
    padding: 100px;
    }

    .image--cover {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0px;

        object-fit: cover;
        object-position: center right !important;
    }

    .img-loader-profile{
        width: 100%;
        height: 130px;
        background-color: white;
    }

    .camera{
        position: absolute;
        left: 0px;
        top: 5px;
        color:white;    
    }
    .div-icon-custom-size-setting{
        width: 50px;
        height:50px;
        background-color:#009EE3;
        border-radius:25px;
        left:55%;
        top:120px;
        position:absolute;
    }
    .div-icon-custom-size-setting-item{
        width: 50px;
        height:50px;
        background-color:#009EE3;
        border-radius:25px;
        position:absolute;
        left:0%;
    }
    .div-icon-custom-size-setting-item-end{
        width: 20px;
        height:20px;
        color:#009EE3;
    }
    .item-setting{
        width: 60%;
        color:white; 
        left: 18%;
        top: 11%;
        position:absolute;       
    }
    .item-setting-email{
        width: 60%;
        color:white; 
        left: 18%;
        top: 19%;
        position:absolute;       
    }
    .item-setting-company{
        width: 60%;
        color:white; 
        left: 18%;
        top: 16%;
        position:absolute;       
    }

    .custom-logo-position{
        position: absolute !important;
        left: -12px !important;
        top: -24px !important;
        width: 48.81px !important;
        height: 48.81px !important;
    }

    .custom-title-color{
        color:white;
        margin-left:15%;
        margin-top:-10px;
        position:absolute;
    }
}