<ion-header >
    <ion-navbar color="innova">
        <button ion-button menuToggle>
          <ion-icon name="menu" class="custom-menu-color"></ion-icon>
        </button>
        <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Inspección</span></ion-title>
        <!--<ion-badge class="notifications">5</ion-badge>-->
        <div class="div-bell-custom-size">
            <svg style="margin-top:3px;margin-left: 2px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>
        </div>
      </ion-navbar>
</ion-header>

<ion-footer *ngIf="typeUser == 'Externo'">
    <ion-toolbar class="custom-toolbar-footer">
        <button ion-button style="width: 100%; background-color: #3da76c; color: #ffffff" (click)="addInspection()">Crear planificación</button>
    </ion-toolbar>
</ion-footer>

<ion-content>
    <ion-list *ngIf="!isInspectionInProcess" style="margin-left: 10px; margin-top: 10px">

        <ng-container *ngFor="let item of inspections">
            <ion-item no-lines (click)="goViewInspection(item)">
                <ion-avatar item-start>
                    <div class="div-icon-custom-size-setting-item-list">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16 item-setting-list" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>            
                    </div>
                </ion-avatar>
                <ion-label *ngIf="item.status!='Asignado'" stacked text-wrap>
                    <h2>{{ item.id }} - {{ item.description }}</h2>
                    <h3>{{ item.status }}</h3>
                </ion-label>
                <ion-label *ngIf="item.status=='Asignado'" stacked text-wrap>
                    <h2>{{ item.id }} - {{ item.description }}</h2>
                    <h3>{{ item.status }} para el: {{ item.start_at.slice(0,item.start_at.indexOf(' ')) }}</h3>
                </ion-label>
                <button class="button-obs-details" item-end ion-button clear icon-only>
                    <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-list *ngIf="isInspectionInProcess" style="margin-left: 10px; margin-top: 10px">

        <ng-container *ngFor="let item of inspections">
            <ion-item no-lines (click)="goViewInspection(item)">
                <ion-avatar item-start>
                    <div *ngIf="item.status=='En proceso'" class="div-icon-custom-size-setting-item-list">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16 item-setting-list" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>            
                    </div>
                    <div *ngIf="item.status!='En proceso'" class="div-icon-custom-size-setting-item-list-disabled">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16 item-setting-list" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>            
                    </div>
                    <!--<img src="assets/imgs/lupa.png" (click)="goViewInspection('00589')">-->
                </ion-avatar>
                <ion-label *ngIf="item.status!='Asignado'" stacked text-wrap>
                    <h2>{{ item.id }} - {{ item.description }}</h2>
                    <h3>{{ item.status }}</h3>
                </ion-label>
                <ion-label *ngIf="item.status=='Asignado'" stacked text-wrap>
                    <h2>{{ item.id }} - {{ item.description }}</h2>
                    <h3>{{ item.status }} para el: {{ item.start_at.slice(0,item.start_at.indexOf(' ')) }}</h3>
                </ion-label>
                <button *ngIf="item.status=='En proceso'" class="button-obs-details-list" item-end ion-button clear icon-only>
                    <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
                </button>
                <button *ngIf="item.status!='En proceso'" class="button-obs-details-disabled" item-end ion-button clear icon-only>
                    <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ng-container>
        <!-- <button *ngIf="typeUser == 'Externo'" ion-button style="width: 100%; background-color: #3da76c; color: #ffffff" (click)="addInspection()">Crear inspección</button> -->
    </ion-list>

</ion-content>