
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: color($colors, dark, base);
        line-height: 50px;
        text-align: center;
        background: color($colors, primary, base);
        box-shadow: 0 0px 2px rgba(0,0,0,0.19), 0 2px 5px rgba(0,0,0,0.23);
    }
    .div-icon-custom-size-setting-item-list,
    .div-icon-custom-size-setting-item-list-disabled{
        width: 45px;
        height:45px;
        border-radius:25px;
        position:absolute;
        left:0%;
        margin-left: 15px
    }
    .div-icon-custom-size-setting-item-list{
        background-color:#009EE3;
    }
    .div-icon-custom-size-setting-item-list-disabled{
        background-color:darkgray;
    }
    .item-setting-list{
        width: 55%;
        color:white; 
        left: 18%;
        top: 18%;
        position:absolute;       
    }
    .div-icon-custom-size-setting-item-end-disabled{
        width: 20px;
        height:20px;
        color:darkgray;
    }

    .button-obs-details-list{
		color: #009ee3;
        background-color: transparent;
        font-size: larger !important;
    }
    
    .button-obs-details-disabled{
		color: darkgray;
        background-color: transparent;
        font-size: larger !important;
	}

    /* .div-bell-custom-size{
        top : 18px;
        color: aliceblue;
        position: absolute;
        width: 25px;
        height:25px;
        border-radius:25px;
        right: 12px
        ;
    } */
