<!--
  Generated template for the DesertionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
  <ion-toolbar>
    <button ion-button class="step1-detail" (click)="goBack()">No Acepto</button>
    <button ion-button class="step1-detail" (click)="goNextStep()">Acepto</button>
  </ion-toolbar>
</ion-footer>

<ion-content fullscreen overflow-scroll="true">
    <ion-card>
        <ion-card-content>
            <!-- <iframe src="http://174.138.33.157/terminos_condiciones.html" style="width: 100%; height: 80vh;"></iframe> -->
            <iframe src="../../assets/templates/terminosycondiciones.html" style="width: 100%; height: 80vh;"></iframe>
        </ion-card-content>
    </ion-card>
  

</ion-content>