page-termConditions{
  .step1-detail{
    width:48%!important;
    background-color:white !important;
    color: black !important;
    box-shadow:none;
  }
  .toolbar-background {
      background-color: white !important;
      color:black !important;
  }
}