page-home{
    .botonPlay{
        width: 150px;
        height: 150px;
        margin-left: -45%;
        margin-top: -25%;
    }
    .top-90 {
            margin-top: 90%;
        }
    .notifications{
        position: absolute;
        margin-left: 70%;
        margin-top: -6%;
        border-radius: 10px;
        font-size: 1.7rem;
    }
    .separador-15-der{
        margin-right:15%
    }
    .blue-background{
        background-color:#009EE3;
    }
    .white-icon{
        color:white!important;
    }
    .title-tag{
        background-color:white;
        color:black;
    }
    .div-icon-custom-size{
        width: 80px;
        height:80px;
        background-color:#009EE3;
    }
    .div-icon-settings-custom-size{
        width: 80px;
        height:80px;
        background-color:#009EE3;
        margin-left:45%;
    }
    .icon-custom-size{
        width: 40px;
        margin-left: 20px;
        margin-top: 20px;
        color: white;
    }
    .icon-informs-custom-size{
        width: 40px;
        margin-left: 20px;
        margin-top: 12px;
        color: white;
    }
    .custom-tag{
        margin-left: 49%;
    }
    .toolbar-background {
        background-color: #009EE3;
        color:white;
    }
    .custom-menu-color{
        color:white!important;
    }
        
    .home-background-image{
        width: 100%;
        height: 55%;    
        background-image: url('../assets/imgs/fondo-home.png');
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(to bottom top, #ffffff00, #ffffff99);
    }


}