<!--<ion-header>
        <ion-navbar color="innova">
          <ion-title class="titulodeinf">Informe</ion-title>
          <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        </ion-navbar>
    </ion-header>
    
      <ion-content padding>
  
            <p>
                Atención:<br>
                <strong *ngFor="let people of peoples">
                    <span *ngIf="people.pivot.people_type_id!=2">{{ people.first_name }} {{ people.last_name }}</span><br>
                </strong>
            </p>
            <h5 class="sectiontitle">1.- OBSERVACIONES GRAVES:</h5>
            <p>
                Aquellas que atentan contra la seguridad y debido comportamiento s&iacute;smico del muro y que deben ser solucionadas en forma efectiva e inmediata:
                <br>
            </p>
            <div *ngFor="let observation of observations_serious; index as i" >
                <p><strong>
                1.{{ i + 1 }}.- {{ observation.description }}
                </strong></p>
                <ul>
                    <li *ngFor="let evaluation of observation.evaluations">
                        {{ evaluation.description }} {{ evaluation.option.description }}
                        <br>
                    </li>
                </ul>
            </div>
            <br>
            <h5 class="sectiontitle">2.- OBSERVACIONES SECUNDARIAS:</h5>
            <p>
                Aquellas que no necesariamente atentan contra la seguridad y comportamiento sísmico del muro pero que deberían ser corregidas para asegurar el debido proceso constructivo que nos garantice la calidad integral del muro:
                <br>
            </p>
            <div *ngFor="let observation of observations_secondary; index as i" >
                <p><strong>
                2.{{ i + 1}}.- {{ observation.description }}
                </strong></p>
                <ul>
                    <li *ngFor="let evaluation of observation.evaluations">
                        {{ evaluation.description }} {{ evaluation.option.description }}
                        <br>
                    </li>
                </ul>
            </div>
</ion-content> -->



<ion-header >
    <ion-navbar color="innova">
      <button ion-button menuToggle>
        <ion-icon name="menu" class="custom-menu-color"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Informe {{report.inspection_id}}</span></ion-title>
      <div class="div-bell-custom-size">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>        
      </div>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-list-header style="border: none;">
          <h1 style="margin-left: 25px;" id="validacion">Involucrados en la obra</h1>
          <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
        </ion-list-header>

        <p style="text-align: center;" *ngIf="peoples_presents.length === 0">No se seleccionó a ningún participante</p>

        <ng-container *ngFor="let people_present of peoples_presents">
            <ion-card>
                <ion-item class="people-selected">
                    {{ people_present.name }} 
                    <br> 
                    {{ people_present.people_type.name }}
                </ion-item>
            </ion-card>
        </ng-container>
    
        </ion-list>

  <ion-list >
    <ion-list-header style="margin-bottom: 0; border: none;">
      <h1 style="text-align: center;" class="observacionestype">Observaciones</h1>
      <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
    </ion-list-header>
    <p style="text-align: center;" *ngIf="observationsForTheView.length === 0">No se seleccionó ninguna observación</p>
    <ng-container *ngFor="let item of observationsForTheView">
      <ion-list-header *ngIf="item.IsFirst" style="margin-bottom: 0; border: none;">
        <h1 class="observacionestype">{{ item.observation_type.name }}</h1>
      </ion-list-header>
      <ion-item no-lines>
        <ion-label stacked text-wrap>
          <p class="descriptionheader">{{item.description}}</p>
        </ion-label>
        <ion-item item-content class="observaciones" *ngFor="let evaluations of item.evaluations">
          <ion-label stacked text-wrap>
            <ion-grid center>
              <ion-row>
                <ion-col align-self-center class="buttoncolunm">
                  <ion-checkbox disabled checked></ion-checkbox>
                </ion-col>
                <ion-col>
                  <p>{{evaluations.description}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card class="item-card" style="width: 100%; height: auto;" >
                
               <ion-list radio-group>
                  <ion-item class="itemoptionselected">

                    <ion-label stacked text-wrap style="font-size: 14px">        
                      {{evaluations.option.description}}   
                    </ion-label>
                    <ion-radio checked item-left></ion-radio>
                    
                  </ion-item>
                </ion-list>
                <p *ngIf="evaluations.comment!=null" class="Comentario-label">Comentario: <span class="Comentario">{{ evaluations.comment }}</span></p>
            </ion-card>          
          </ion-label>
        </ion-item>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
