// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toast-error {
    .toast-wrapper {
        background: brown;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .toast-message {
        font-size: 1.6rem;
        color: white;
    }
}

.toast-warning {
    .toast-wrapper {
        background: darkgoldenrod;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .toast-message {
        font-size: 1.6rem;
        color: white;
    }
}

.toast-success {
    .toast-wrapper {
        background: #307214;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .toast-message {
        font-size: 1.6rem;
        color: white;
    }
}

.custom-header-menu{
    height: 175px;
    background-image: linear-gradient(9deg, rgba(181,179,140,0.85) 0%, rgba(45,84,74,0.85) 33%, rgba(34,40,78,0.85) 100%),
                        url('../assets/imgs/logo-cliente-.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.supervisor-name{
    font-weight: bold;
    color: white;
}
.supervisor-email{
    font-weight: bold;
    color: white; 
}

.about-header-profile{
    position: absolute;
    top: 30%;
    left: 5%;
}

.wrapper {
  padding: 100px;
}

.comment{
    background: rgba(0, 0, 0, 0.5) !important;
    .modal-wrapper{
        position: relative;
        top: 25% !important;
        left: 15% !important;
        width: 70%;
        height: 183px;
    }
}

.user-pic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0px;

    object-fit: cover;
    object-position: center right;
}

.img-loader-menu{
    width: 100%;
    height: 65px;
    background-color: transparent;
}

.informFormat{
    .modal-wrapper{
        top: 0px !important;
        left: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 0 !important;

        font-size: 11pt;
        font-family: Arial;

        ion-title{
            padding-right: 10%;
            font-size: large;
            font-weight: bold;
            text-align: center;
            color: white;
        }

        p{ text-align: justify; }

        li{ 
            text-align: justify;
            margin-bottom: 20px;
            margin-left: -10px;
        }

        ol{ margin-left: auto;
            margin-right: 7%;
        }

        ul{ margin-left: auto;
            margin-right: 7%;
        }

        .sectiontitle{
            font-weight: bold;
            text-align: left;
            font-size: medium;
        }

        ion-col{
            border: thin solid black;
        }
    }
}


.div-bell-custom-size{
    top : 18px;
    color: aliceblue;
    position: absolute;
    width: 25px;
    height:25px;
    border-radius:25px;
    right: 12px
    ;
}

.popover-content{
    width: auto;
}

h1, h2, h3, h4, h5, h6{
    text-transform: none;
}

::-webkit-scrollbar { 
    display: none; 
}

ion-popover{
    div.popover-wrapper{
        div.popover-content{
            width: auto;
        }
    }
}

.div-icon-custom-size-setting-item-end{
    width: 20px;
    height:20px;
    color:#009EE3;
}

.preview{
    margin-left: 4px;
    width: 70px;
    height: 45px;
}

.img-preview{
    height: 45px;
    width: 70px;
    display: inline;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.div-icon-custom-size-menu{
    width: 40px;
    height:40px;
    background-color:white;
    border-radius:25px
}
.div-icon-custom-size-menu-no-rounded{
    width: 40px;
    height:40px;
    background-color:white;  
}
.div-icon-custom-size-menu-no-rounded-building{
    margin-left: 5px;
    width: 30px;
    height:30px;
    background-color:white;
    opacity: 0.7;
}
.div-icon-custom-size-menu-no-rounded-cog{
    width: 40px;
    height:40px;
    background-color:white;
    margin-top: 7px;
}
.icon-custom-size-menu{
    width: 20px;
    color: #009EE3;
}
.icon-custom-size-menu-item-zero{
    width: 25px;
    color:#4B4B4B; 
    position:absolute;
    top:32%;
    left:7%; 
}
.icon-custom-size-menu-item-one{
    width: 25px;  
    color:#4B4B4B;
}
.icon-custom-size-menu-item-two{
    width: 25px;
    color:#4B4B4B;  
}
.icon-custom-size-menu-item-three{
    width: 25px;
    color:#4B4B4B;  
}
.custom-log-out-option-menu{
    position: absolute;
    top: 24%;
    left: 20%;
    color: red;
}

.custom-list-menu{
  margin-top:5%;
  border: none;
}

ion-searchbar{
    .searchbar-input-container{
        .searchbar-input{
            border-radius: 10px !important;
            border: 3px solid rgb(214, 210, 210);
        }
        .searchbar-md,
        .searchbar-input{
            box-shadow: none;
        }
    }
}

button{
    .item-inner{
        border-bottom: none !important;
    }
}

.button-md{
    text-transform: none !important;
    font-variant: normal !important;
    font-size: medium;
}

.div-icon-custom-size-informs{
    width: 40px;
    height:40px;
    color: white;
    background-color:#009EE3;
    border-radius:25px !important;
  }

.custom-logo-position{
    position: absolute !important;
    left: -12px !important;
    top: -24px !important;
    width: 48.81px !important;
    height: 48.81px !important;
}

.custom-title-color{
    color:white !important;
    margin-left:12% !important;
    margin-top:-10px !important;
    position:absolute !important;
}

.icon-bell-custom-size{
    width: 26.16px !important;
    height: 29.9px !important;
    top: -10px;
}