page-eventuality{
    .custom-menu-color{
        color:white!important;
    }
    .custom-logo-position{
        width: 15%;
        position: absolute;
        left: -12px;
        top: -3px;    
    }
    .custom-title-color{
        color:white;
        margin-left:11%;
        margin-top:7px;
        position:absolute;
    }
    .div-icon-custom-size-informs{
        width: 40px;
        height:40px;
        background-color:#009EE3;
        border-radius:25px
    }
    .icon-informs-custom-size-informs{
        width: 20px;
        margin-left: 11px;
        margin-top: 7px;
        color: white;
    }
    .icon-download-custom-size-informs{
        width: 20px;
        margin-left: 11px;
        margin-top: 7px;
        color: #009EE3;
    }

    .div-icon-custom-size-setting-item-end-inform-download{
        width: 26px;
        height: 26px;
    }

    .div-icon-download-custom-size-informs{
        width: 40px;
        height:40px;
        border-radius:25px
    }
    /* .icon-bell-custom-size{
        color: white;
        width: 5%;
        position: absolute;
        left: 90%;
        top: 18px;  	
    } */
    .div-bell-custom-size{
        width: 40px;
        height:40px;
        border-radius:25px	
    }
    .div-icon-custom-size-menu-no-rounded-building{
        margin-left: 5px;
        width: 30px;
        height:30px;
        background-color:white;
        opacity: 0.7;
    }
}