page-work{
  .custom-menu-color{
    color:white!important;
  }

  .div-icon-download-custom-size-informs{
    width: 40px;
    height:40px;
    border-radius:25px
  }
  .div-bell-custom-size{
    width: 40px;
    height:40px;
    border-radius:25px	
  }
}