<ion-content id="comentario">
  <ion-item no-lines>
    <h6 item-start><strong>Añadir un comentario</strong></h6>
    <button *ngIf="!commentnull" item-end ion-button icon-only clear (click)="viewCtrl.dismiss(navParams.get('existentcomment'))">
      <ion-icon style="color: gray;" ios="md-close" md="md-close"></ion-icon>
    </button>
    <button *ngIf="commentnull" item-end ion-button icon-only clear (click)="viewCtrl.dismiss(null)">
      <ion-icon style="color: gray;" ios="md-close" md="md-close"></ion-icon>
    </button>
  </ion-item>
  <form [formGroup]="comment" (ngSubmit)="comentar()">
      <textarea class="textarea" placeholder="Ingresar" formControlName="comentario"></textarea><br />
      <ion-item no-lines>
        <button item-end ion-button full [class]="savebutton" type="submit" [disabled]="!comment.valid">Guardar</button>
        <button item-start *ngIf="!commentnull" ion-button full class="delete-comment" type="reset" (click)="viewCtrl.dismiss(null)">Eliminar</button>
      </ion-item>
  </form>
</ion-content>
