page-inspection-details{
	.scroll-content {
		contain: none !important;
		margin-bottom: 50px;
	}
	
	.img-option{
		width: 25px;
	}

	.ErrorEvalObs{
        div.item-inner{
            padding-right: 0 !important;
			margin: 0 !important;
            margin-top: 2px !important;
            min-height: 7px !important; 
            height: 15px !important;
            border : 0 !important;
		}
		margin-left : 5px;
		text-align: left;
		min-height: 0 !important;
		font-size: 12px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	.ErrorEvalOpt{
		margin-left: 30px;
		min-height: 0 !important;
		font-size: 12px;
	}

	.Comentario-label{
		color: #404040;
		font-weight: bold;
	}

	.Comentario{
		color: #999;
	}

	.step1-detail-goBack{
		width:46%!important;
		background-color:#999999;
		color:white;
	}
	.step1-detail-continue{
		width:46%!important;
		background-color:#009EE3;
		color:white;
	}
	.third-level-buttons-inspection{
		margin-left: 3%;
		margin-top: 4%;	
	}
	.third-level-options-inspection{
		height: 340px;
		width: 319px;	
	}

	.wrap-text {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	ion-list-header{
		margin-bottom: 0px !important;
	}

	.observacionestype{
		margin-left: 5% !important;
		position: sticky;
	}

	ion-searchbar{
		border-radius: 10px;
	}

	ion-label{
		margin-bottom: 5px !important;
	}

	.observaciones,
	.correctObs{
		padding: 3px 3px 3px 3px;
		margin-left: 5%;
		margin-bottom: 5%;
		.item-inner{
			width: 90%;
    		margin-left: 5%;
		}
	}

	.evaluations{
		padding: 3px 3px 3px 3px;
		margin-bottom: 5%;
	}

	.observaciones,
	.evaluations{
		.item-inner{
			border: 2px groove #009ee3 !important;
			border-radius: 5px;
		}
	}

	.correctObs{
		.item-inner{
			background-color: #009ee3;
			border-radius: 5px;
		}
	}

	.itemoptionselected{
		.item-inner{
			border: 0 none transparent !important;
		}
	}

	.buttonbackevalu{
		top: -4.5px;
		left: -5px;
		width: 20px;
		height: 30px;
		font-size: smaller;
		font-weight: bold;
		color: grey;
	}

	.observationbluebox,
	.correctTitleObs{
		margin-left: 15px !important;
		margin-bottom: 5px;
		margin-top: 0px;
		font-size: medium;
		font-weight: normal;
	}

	.correctTitleObs{
		color: white;
	}

	.button-obs-details{
		color: #009ee3;
		background-color: transparent;
	}

	.correctArrowObs{
		color: white;
		background-color: transparent;
	}

	.buttonselectinfo{
		background-color: white !important;
		border-color: #009ee3;
		color: black;
		text-transform: none;
		font-size: x-small;
	}

	.buttonselectinfocamara{
		background-color: white !important;
		border-color: rgb(84, 197, 246);
		width: 34.49px;
		height: 34.49px;
	}

	.buttonobservations{
		flex: 0 0 10%;
		padding: 0;
		margin-left: -5%;
	}

	.buttonselecteditem, .buttonselecteditemabajo{
		font-size: large;
		font-weight: bold;
		margin: 0;
		padding: 0;
		height: 20px;
		position: absolute;
		left: 95%;
		color: #009EE3;
	}

	.buttonselecteditemabajo{
		top: 87% !important;
		left: 93% !important;
		position: sticky;
	}

	.select-info-row{
		margin-left: -2%;
		width: 95%;
	}

	.buttoncolunm{
		flex: 0 0 10%;
		padding: 0;
		margin-right: -5%;
		margin-left: 5%;
	}

	.descriptionheader{
		width: 90%;
	}

	.card-md{
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
}