<ion-header >
    <ion-navbar color="innova">
      <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Inspección {{inspection.inspection?.id}}</span></ion-title>
      <div class="div-bell-custom-size">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>        
      </div>
    </ion-navbar>
    <ion-searchbar style="background-color: white;" debounce="0" type="text"
            [(ngModel)]="searchObservationsEvaluations"
            [animated]="true" 
            [showCancelButton]="true" 
            (ionInput)="filterObservations($event)"
            (ionClear)="restoreEvaluations()"
            (keyup.enter)="globalProvider.hideKeyboard()"
            placeholder="Buscar">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="isObservations">
      <ion-list-header style="border: none;" *ngIf="!isEvaluation">
       <h1 class="observacionestype">Observaciones</h1>
       <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
       </ion-list-header>

      <ng-container *ngFor="let item of inspectionInProgress.inspectionInform.observations">
        <ion-item [class]="item.itemClass" (click)="goDetails(item)">
          <ion-label stacked text-wrap>
            <h3 [class]="item.obsTitleClass">{{item.short_description}}</h3>
            <p *ngIf="item.errorEval" class="ErrorEvalObs" color="danger" ion-text>Hay evaluaciones sin opciones seleccionadas</p>
          </ion-label>
          <button [class]="item.arrowClass" item-end ion-button clear icon-only>
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </button>
        </ion-item>
      </ng-container>

  </ion-list>

  <ion-list *ngIf="isEvaluation">
      <ion-list-header>
        <ion-label stacked text-wrap>
          <ion-grid center>
            <ion-row (click)="goBack()">
              <ion-col top class="buttoncolunm">
                  <button class="buttonbackevalu" ion-button clear icon-only>
                    <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
                  </button>
              </ion-col>
              <ion-col>
                <h2 class="descriptionheader">{{levelSelected.description}}</h2>
              </ion-col>
              <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
            </ion-row>
          </ion-grid>
        </ion-label>       
      </ion-list-header>
      
      <ion-item class="evaluations" *ngFor="let itemObs of selectedObservationsList" >
        <ion-label stacked text-wrap>
          <ion-grid center>
            <ion-row>
              <ion-col align-self-start class="buttoncolunm">
                <ion-checkbox [(ngModel)]="itemObs.selected" (ionChange)="selectEvaluation(itemObs,$event)"></ion-checkbox>
              </ion-col>
              <ion-col>
                <h2 *ngIf="!itemObs.showOptions" (click)="selectEvaluation(itemObs,$event)">{{itemObs.short_description}} <button *ngIf=!itemObs.showOptions class="buttonselecteditem" ion-button clear (click)="goOptionsDetail(itemObs)">
                  <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                </button></h2>
                <h2 *ngIf="itemObs.showOptions" (click)="selectEvaluation(itemObs,$event)">{{itemObs.description}} <button *ngIf=!itemObs.showOptions class="buttonselecteditem" ion-button clear (click)="goOptionsDetail(itemObs)">
                    <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                  </button></h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <p class="ErrorEvalOpt" color="danger" *ngIf="itemObs.optionSelected_id==0 && itemObs.selected" ion-text>Debe seleccionar una opción antes de continuar</p>
            </ion-row>
          </ion-grid>
          <ion-card class="item-card" *ngIf="itemObs.showOptions" style="width: 100%;height: auto;" >
              
             <ion-list radio-group [(ngModel)]="itemObs.optionSelected_id" >
                <ion-item class="itemoptionselected" *ngFor="let opt of itemObs.options"  >
                  <ion-label stacked text-wrap style="font-size: 14px">        
                    {{opt.description}}   
                  </ion-label>
                  <ion-radio [value]="opt.id" (ionSelect)="updateonoptions(opt, itemObs)" item-left></ion-radio>
                </ion-item>
              </ion-list>
              <p *ngIf="itemObs.comment" class="Comentario-label">Comentario: <span class="Comentario">{{ itemObs.comment }}</span><br></p>
              <ng-container *ngIf="itemObs.urlImage">
                <p class="Comentario-label">Imágenes:<br></p>
                <ng-container *ngFor="let media of itemObs.media">
                  <span *ngIf="media.image.urlMedia" (click)="deleteMedia(media.image, itemObs, true)" class="preview">
                    <img class="img-preview" [src]="media.image.urlMedia"/>
                  </span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="itemObs.urlVideo">
                <p class="Comentario-label">Videos:<br></p>
                <ng-container *ngFor="let media of itemObs.media">
                  <span *ngIf="media.video.urlMedia" (click)="deleteMedia(media.video, itemObs, false)" class="preview">
                    <img class="img-preview" [src]="media.video.urlMedia"/>
                  </span>
                </ng-container>
              </ng-container>
            <ion-grid left no-line>
              <ion-row class="select-info-row">
                <ion-col col-6>
                  <button *ngIf="!itemObs.comment" class="buttonselectinfo" ion-button outline block (click)="addComments(itemObs)">+Agregar comentario</button>
                  <button *ngIf="itemObs.comment" class="buttonselectinfo" ion-button outline block (click)="addComments(itemObs)">Editar comentario</button>
                </ion-col>
                <ion-col>
                  <button class="buttonselectinfo" ion-button outline block (click)="addPhoto(itemObs)">
                    <img class="img-option" src="assets/imgs/camara.png"/>
                  </button>
                </ion-col>
                <ion-col>
                  <button class="buttonselectinfo" ion-button outline block>
                    <img class="img-option" src="assets/imgs/video.png"/>
                  </button>            
                </ion-col>
                <button class="buttonselecteditemabajo" ion-button clear (click)="goOptionsDetail(itemObs)">
                  <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
                </button>
              </ion-row>
            </ion-grid>

          </ion-card>          
        </ion-label>
      </ion-item>
  </ion-list>  

  <div *ngIf="!staticKeyboardWillShow" class="footer">
    <button ion-button class="step1-detail-goBack" (click)="goBack()">Volver</button>
    <button ion-button class="step1-detail-continue" (click)="goNextStep()">Continuar</button>
  </div>

</ion-content>
