<ion-header >
    <ion-navbar color="innova">
      <button ion-button menuToggle>
        <ion-icon name="menu" class="custom-menu-color"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo-cliente.png" class="custom-logo-position"><span class="custom-title-color">Inspección {{inspection.inspection?.id}}</span></ion-title>
      <div class="div-bell-custom-size">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14 icon-bell-custom-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg>        
      </div>
    </ion-navbar>
</ion-header>


<ion-footer>
  <ion-toolbar class="custom-toolbar-footer">
    <button ion-button class="step1-detail-goBack" (click)="goBack()">Volver</button>
    <button ion-button class="step1-detail-continue" (click)="goNextStep()">Enviar Informe</button>
  </ion-toolbar>
</ion-footer>
<ion-content>

    <ion-list>
        <ion-list-header style="border: none;">
          <h1 style="margin-left: 25px;" id="validacion">Involucrados en la obra</h1>
          <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
        </ion-list-header>

        <p style="text-align: center;" *ngIf="inspectionInform_present.peoples_present.length === 0">No se seleccionó a ningún participante</p>

        <ng-container *ngFor="let people_present of inspectionInform_present.peoples_present">
            <ion-card>
                <ion-item class="people-selected">
                    {{ people_present.name }} <br> {{ people_present.selected_peopleType.name }}
                </ion-item>
            </ion-card>
        </ng-container>
    
        </ion-list>

  <ion-list >
    <ion-list-header style="margin-bottom: 0; border: none;">
      <h1 style="text-align: center;" class="observacionestype">Observaciones</h1>
      <hr style="width: 90%; height: 2px; background-color: #B8B8B8;">
    </ion-list-header>
    <p style="text-align: center;" *ngIf="observationsForTheView.length === 0">No se seleccionó ninguna observación</p>
    <ng-container *ngFor="let item of observationsForTheView">
      <ion-list-header *ngIf="item.IsFirst" style="margin-bottom: 0; border: none;">
        <h1 class="observacionestype">{{ item.observation_type.name }}</h1>
      </ion-list-header>
      <ion-item no-lines>
        <ion-label stacked text-wrap>
          <p class="descriptionheader">{{item.description}}</p>
        </ion-label>
        <ion-item item-content class="observaciones" *ngFor="let evaluation of item.evaluations">
          <ion-label stacked text-wrap>
            <ion-grid center>
              <ion-row>
                <ion-col align-self-center class="buttoncolunm">
                  <ion-checkbox disabled checked></ion-checkbox>
                </ion-col>
                <ion-col>
                  <p>{{evaluation.description}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card class="item-card" style="width: 100%; height: auto;" >
                
               <ion-list radio-group>
                  <ion-item class="itemoptionselected" *ngFor="let option of evaluation.options"  >

                    <ion-label stacked text-wrap style="font-size: 14px">        
                      {{option.description}}   
                    </ion-label>
                    <ion-radio checked item-left></ion-radio>
                    
                  </ion-item>
                </ion-list>
                <p *ngIf="evaluation.comment" class="Comentario-label">Comentario: <span class="Comentario">{{ evaluation.comment }}</span></p>
                <ng-container *ngIf="evaluation.urlImage">
                  <p class="Comentario-label">Imágenes:</p>
                  <ng-container *ngFor="let media of evaluation.media">
                    <span *ngIf="media.image.urlMedia" class="preview">
                      <img class="img-preview" [src]="media.image.urlMedia"/>
                    </span>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="evaluation.urlVideo">
                  <p class="Comentario-label">Videos:</p>
                  <ng-container *ngFor="let media of evaluation.media">
                    <span *ngIf="media.video.urlMedia" class="preview">
                      <img class="img-preview" [src]="media.video.urlMedia"/>
                    </span>
                  </ng-container>
                </ng-container>
            </ion-card>          
          </ion-label>
        </ion-item>
      </ion-item>
    </ng-container>

  </ion-list>

  
 
</ion-content>